@mixin theme-dark {
    .title {
        color: lightgrey;
    }

    .bg-primary {
        background-color: #222!important;
        color: lightgrey;
        a {
            color: #9bb7d6;
        }
    }
    
    .bg-secondary {
        background-color: black;
        color: lightgrey;
    }

    .react-grid-layout {
        background-color: #333;
    }

    body {
        color: #212529;
        background-color: #fff;
    }

    .close-pane-button {
        background: none;
        color: black;
    }

    .card {
        border: 1px solid rgba(0, 0, 0, 0.125);
    }

    .sets-manager .ant-tabs .ant-tabs-bar {
        border-bottom: 1px solid #555;
        background-color: transparent;
    }

    .sets-manager .sets-manager-icon-bar i:hover {
        background-color: #444444;
    }

    .sets-manager .ant-tree.ant-tree-block-node li .ant-tree-node-content-wrapper .ant-tree-title-save-button {
        background-color: transparent;
    }

    .sets-manager .ant-tree.ant-tree-block-node li .ant-tree-node-content-wrapper .ant-tree-title {
        color: #FFF;
    }

    .sets-manager .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
        background-color: #555;
        border: 1px solid #555;
    }

    .sets-manager .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab .ant-tabs-close-x {
        color: white;
    }

    .sets-manager .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab.ant-tabs-tab-active {
        background-color: #333;
        border: 1px solid #555;
    }
}