/coverage
/dist
/dist-demo
/node_modules
/.docz
/demo/dist
npm-debug.log*
venv

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
default.profraw
.nova/

# Created and deleted during build
.babelrc