node_modules/
dist/
dist-root/
dist-versioned/
dist-tsc/
.pnpm-debug.log
.DS_Store
package-lock.json
yarn.lock
.docusaurus/
*.out.glsl
*.tsbuildinfo
*.tgz
stats.html
packages/**/CHANGELOG.md
sites/**/CHANGELOG.md
examples/**/CHANGELOG.md
RELEASE_NOTES.md
coverage/
.idea/
.vscode/
test-results/
playwright-report/
blob-report/
playwright/.cache/
venv/

