.obsFeatureDemoGrid {
  display: grid;
  padding: 0;
  width: 100%;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.obsFeatureDemoGridItem {
  background-color: var(--ifm-footer-background-color);
  min-height: 120px;
  border-radius: 4px;
  padding: 0.7rem;
}
.obsFeatureDemoGridItemTitle {
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 0.5rem;
}
.obsFeatureDemoGridItemDescription {
  margin-bottom: 0.5rem;
  font-size: 13px;
}
.obsFeatureDemoGridItem .pill {
  display: inline-block;
  padding: 0 6px;
  border-radius: 12px;
  opacity: 0.8;
  font-size: 13px;
  margin-right: 0.3rem;
}
.obsFeatureDemoGridItem .pill.spatial {
  background-color: rgb(246, 231, 136);
}
.obsFeatureDemoGridItem .pill.csv {
  background-color: rgb(180, 180, 251);
}
.obsFeatureDemoGridItem .pill.anndata {
  background-color: rgb(164, 242, 193);
}
.obsFeatureDemoGridItem .pill.zarr {
  background-color: rgb(242, 164, 237);
}