@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

:root {
  --ifm-color-primary: #49a5b7;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-code-font-size: 95%;

  --ifm-navbar-height: 3.0rem;
  --ifm-vitessce-toolbar-height: 28px;

  --vit-input-foreground: #0451a5;
  --vit-input-background: #ffffff;
  --dropzone: #989898;
  --code-block-background: rgb(246, 248, 250);

  --hero-banner-background: #49a5b7;

  font-family: 'Inter', sans-serif;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  --ifm-footer-background-color: #f5f6f7;

}

:root[data-theme='dark'] {
  --ifm-navbar-background-color: #333;
  --ifm-footer-background-color: rgb(73, 73, 73);
  --vit-input-background: #202124;
  --vit-input-foreground: #9cdcfe;
  --dropzone: #5f5f60;
  --code-block-background: rgb(40, 42, 54);
  --docusaurus-highlighted-code-line-bg: rgba(66, 66, 66, 0.35);
}

html, body {
  height: 100%;
  font-family: 'Inter', sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
}
#root {
  flex: 1;
}
#root .welcome-container {
  height: max(100%, 100vh);
  width: 100%;
  overflow: scroll;
  background-color: #333333;
}

.navbar {
  width: 100%;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
  & ul {
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    & li {
      display: inline-block;
      flex-grow: 1;
      padding: 5px 10px;
      & a {
        text-decoration: none;
        color: var(--ifm-color-primary);
        font-size: 16px;
        font-weight: 200;
      }
      & a:hover {
        text-decoration: underline;
      }
    }
    & li:first-of-type a {
      font-weight: 500;
      color: var(--ifm-color-primary);
    }
  }
}

.footer {
  background-color: var(--ifm-footer-background-color);
  & .footer-content {
    max-width: 960px;
    margin: 0 auto;
    padding: 1rem;

    & > div {
      margin-bottom: 20px;
    }

    & pre {
      display: inline;
    }
    & .section-title {
      font-weight: bold;
      display: block;
      margin-top: 10px;
      margin-bottom: 4px;
    }

    & .copyright {
      text-align: center;
    }

    & ul {
      margin: 0;
    }

  }
}