
@mixin channels($theme-name, $theme-colors) {
  $box-size: 16px;

  .layer-controller-container {
    & > div:first-child {
      margin-top: 0 !important;
    }
  }

  .channel-container {
    width: 100%;
    display: flex;
    position: relative;
  }

  .channel-set-color {
    display: flex;
    position: relative;
    top: 5px;
    width: $box-size;
    height: $box-size;
    margin-right: 24px;
    cursor: pointer;
    outline: currentColor none medium;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
  }

  .channel-checked {
    display: flex;
    position: relative;
    margin-right: 10px;
  }

  .add-image-layer {
    color: darken(map-get($theme-colors, "primary-foreground"), 5%);
    border: 1px dashed darken(map-get($theme-colors, "primary-foreground"), 5%);
  }

}
