/* Tooltips for showing help info to the user. */
@mixin help-tooltips($theme-name, $theme-colors) {
    .help-tooltip {
        &.rc-tooltip {
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
            margin: 0;
            padding: 0;
            color: rgba(0, 0, 0, 0.65);
            font-size: 14px;
            font-variant: tabular-nums;
            line-height: 1.5715;
            list-style: none;
            -webkit-font-feature-settings: 'tnum';
                    font-feature-settings: 'tnum';
            position: absolute;
            z-index: 1060;
            display: block;
            max-width: 250px;
            visibility: visible;

            &-hidden {
                display: none;
            }

            &-placement-top {
                padding-top: 8px;
            }
            &-placement-right {
                padding-left: 8px;
            }
            &-placement-bottom {
                padding-top: 8px;
            }
            &-placement-left {
                padding-right: 8px;
            }
            .rc-tooltip-inner {
                font-size: 10px;
                min-width: 30px;
                padding: 6px 8px;
                color: #fff;
                text-align: left;
                text-decoration: none;
                word-wrap: break-word;
                background-color: rgba(0, 0, 0, 0.9);
                border-radius: 2px;
                -webkit-box-shadow: 0 3px 6px -4px rgba(100, 100, 100, 0.12), 0 6px 16px 0 rgba(100, 100, 100, 0.08), 0 9px 28px 8px rgba(100, 100, 100, 0.05);
                        box-shadow: 0 3px 6px -4px rgba(100, 100, 100, 0.12), 0 6px 16px 0 rgba(100, 100, 100, 0.08), 0 9px 28px 8px rgba(100, 100, 100, 0.05);
            }
            .rc-tooltip-arrow {
                display: none;
            }
        }
    }
}