
.vitessce-container .higlass-wrapper {
  // https://sass-lang.com/documentation/at-rules/import#nesting
  // https://sass-lang.com/documentation/at-rules/import#importing-css
  @import "~higlass/dist/hglib";
}
@mixin higlass($theme-name, $theme-colors) {

    .higlass-title-wrapper {
        height: calc(100% - 20px);
        .card-body {
          width: inherit;
          height: inherit;
          padding: 5px;
          background-color: map-get($theme-colors, "secondary-background");
          .higlass-lazy-wrapper {
            width: inherit;
            height: inherit;
          }
          .higlass-wrapper-parent {
            display: block;
            position: relative;
            box-sizing: border-box;
            font-size: 12px;
            color: #333;
            overflow: hidden;
            .higlass-wrapper {
              width: inherit;
              height: inherit;
              position: relative;
              display: block;
              text-align: left;
              box-sizing: border-box;
              .higlass {
                width: 100%;
                height: 100%;
                .react-grid-layout {
                  background-color: transparent !important;
                }
                nav {
                  display: flex;
                }
                input {
                  font-size: 12px;
                }
                .btn {
                  color: #999;
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
          
}