@import 'colors';

@mixin popover($theme-name, $theme-colors) {
    .ant-popover {
        .ant-popover-inner-content {
            padding: 0;
            .popover-menu-list {
                list-style-type: none;
                padding: 0;
                margin-bottom: 0;
                li {
                    button {
                        border: 0;
                        padding: 4px 16px;
                        cursor: pointer;
                        width: 100%;
                        background-color: transparent;
                    }
                    &:not(:last-child) {
                        border-bottom: 1px solid map-get($global-colors, "gray-mid");
                    }
                }
            }
        }

        .ant-popover-inner {
            box-sizing: border-box;
        }

        &> .ant-popover-content > .ant-popover-arrow, .ant-popover-placement-topLeft > .ant-popover-content > .ant-popover-arrow, .ant-popover-placement-topRight > .ant-popover-content > .ant-popover-arrow {
            bottom: 7.3px !important;
        }

        button {
            -webkit-appearance: button;
            text-transform: none;
            overflow: visible;
            margin: 0;
            font-family: inherit;
            font-size: 14px;
            line-height: inherit;
            border-radius: 0;
        }

        dl, ol, ul {
            margin-top: 0;
            margin-bottom: 1rem;
        }

        .popover-color.twitter-picker {
            box-shadow: none !important;
            /* Sets margins around color picker and centers */
            > div:nth-child(3) {
                padding: 9px 9px 9px 9px !important;
                transform: translate(2px, 0);
            }
            input {
                width: 68px !important;
            }
            /* Sets smaller color squares */
            > div > span > div {
                width: 22px !important;
                height: 22px !important;
            }
        }
        .popover-menu-color.twitter-picker {
            box-shadow: none !important;
            /* Sets margins around color picker and centers */
            > div:nth-child(3) {
                padding: 6px !important;
                transform: translate(2px, 0);
            }
            > div > div:nth-of-type(1) {
                font-size: 12px;
                width: 20px !important;
            }
            input {
                width: 60px !important;
                font-size: 12px;
            }
            /* Sets smaller color squares */
            > div > span > div {
                width: 18px !important;
                height: 18px !important;
            }
        }
    }
}