@import './colors';
@import './zoom';

@mixin input-minimal-sm {
    border-radius: 3px;
    padding: 1px 4px;
    border: 0;
}

@mixin sets-manager($theme) {

    /* The zoom mixin contains styles for the popover transition animations. */
    @include zoom;

    .sets-manager {
        .ant-tree {
            color: inherit;
            &.ant-tree-block-node li .ant-tree-node-content-wrapper {
                display: inline-block;
                position: relative;
                color: inherit;

                .ant-tree-title-right {
                    display: none;
                    // Not .draggable when name is being editted.
                    // Hide controls that overlap.
                }
                &.draggable .ant-tree-title-right {
                    display: inline-block;
                    position: absolute;
                    right: 10px;

                    .ant-tree-set-color {
                        display: inline-block;
                        position: relative;
                        top: 3px;
                        width: 16px;
                        height: 16px;
                        margin-left: 16px;
                        cursor: pointer;
                        outline: currentColor none medium;
                        border-radius: 3px;
                        box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
                    }

                    .ant-tree-set-size {
                        display: inline-block;
                    }
                }

                &:hover {
                    background-color: inherit;
                }
                &.ant-tree-node-selected {
                    background-color: inherit;
                }
                .ant-tree-title {
                    border: 0;
                    cursor: pointer;

                    @if $theme == light {
                        color: #333333;
                    } @else if $theme == dark {
                        color: #FFFFFF;
                    }
                }
                .ant-tree-title-input {
                    @include input-minimal-sm;
                    width: calc(100% - 3em); // 3em = width of save button.
                }
                .ant-tree-title-save-button {
                    @include input-minimal-sm;
                    cursor: pointer;
                    margin-left: 4px;

                    @if $theme == light {
                        background-color: #FFFFFF;
                    } @else if $theme == dark {
                        background-color: transparent;
                    }
                }
                .ant-tree-node-menu-trigger-container {
                    transition: opacity 0.25s;
                    .ant-tree-node-menu-trigger {
                        font-size: 16px;
                        margin-left: 10px;
                        height: 20px;
                        line-height: 20px;
                        vertical-align: middle;
                    }
                }
            }
        }
        .ant-tabs {
            color: inherit;
            .ant-tabs-bar {
                z-index: 1;
                padding-top: 1.25rem;
                margin-top: -1.25rem;
                /* Need calculation, since with fixed position,
                    does not take padding into account. */
                width: calc(100% - 3.75rem);
                position: fixed;
                border-bottom: 1px solid #555555;
                
                @if $theme == light {
                    background-color: #F1F1F1;
                } @else if $theme == dark {
                    background-color: #222222;
                }
            }
            .ant-tabs-content {
                margin-top: 40px;
            }
            .ant-tabs-nav .ant-tabs-tab-active {
                font-weight: inherit;
            }
            &.ant-tabs-card .ant-tabs-card-bar {
                .ant-tabs-nav-container {
                    height: 28px;
                }
                .ant-tabs-tab {
                    height: 28px;
                    line-height: 26px;
                    padding: 0 6px;
                    border: 1px solid #555555;

                    @if $theme == light {
                        background-color: #8A8A8A;
                    } @else if $theme == dark {
                        background-color: #555555;
                    }

                    .ant-tabs-close-x {
                        margin-left: 5px;
                        margin-right: -2px;
                        color: #FFFFFF;
                    }

                    &.ant-tabs-tab-active {
                        border: 1px solid #555555;

                        @if $theme == light {
                            background-color: #8A8A8A;
                            color: #000000;
                        } @else if $theme == dark {
                            background-color: #333333;
                        }
                    }

                    &:first-child .ant-tabs-close-x {
                        display: none;
                    }
                }
            }
            .ant-tabs-extra-content {
                display: none;
            }
        }
        .sets-manager-more-icon {
            cursor: pointer;
            right: 10px;
            position: absolute;
            top: 10px;
        }
        .sets-manager-icon-bar {
            cursor: pointer;
            right: 36px;
            position: fixed;
            top: 46px;
            z-index: 2;
            i {
                border-radius: 4px;
                padding: 3px 2px 0 2px;
                margin-left: 10px;
                &:hover {
                    transition: background-color 0.5s;

                    @if $theme == light {
                        background-color: #C0C0C0;
                    } @else if $theme == dark {
                        background-color: #444444;
                    }
                }
            }
        }
    }

}