@import 'colors';

/*
  Some styles here (for .rc-tree and descendants) have been adapted from the ant-design tree styles:
  https://github.com/ant-design/ant-design/blob/34c2fad6368cce0d3e1959613d092274f567582a/components/tree/style/index.less
 */
@mixin sets-manager($theme-name, $theme-colors) {

    $node-height: 32 !default;
    .sets-manager {
      position: relative;
      width: 100%;
      display: block;
      height: auto;
      .set-operation-buttons {
        background-color: map-get($global-colors, "gray-light");
        border-radius: 4px;
        padding: 2px;
        display: inline-block;
        position: absolute;
        bottom: 1.75rem;
        right: 0.25rem;
        -webkit-box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.06);
                box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.06);
        button {
          border: 0;
          background-color: transparent;
          color: lighten(map-get($global-colors, "gray-dark"), 5%);

          &[disabled] {
            pointer-events: none;
            svg {
              fill: silver;
            }
          }
          
          svg {
            fill: map-get($global-colors, "gray-dark");
            vertical-align: top;
            height: 20px;
            margin-top: 1px;
          }

          &:hover, &:hover path {
            color: darken(map-get($global-colors, "gray-dark"), 15%);
            fill: darken(map-get($global-colors, "gray-dark"), 15%);
          }
        }
      }
      
      .sets-manager-tree {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        display: block;
        padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
        box-sizing: content-box; /* So the width will be 100% + 17px */
    
        .plus-button {
          border: 0;
          background-color: transparent;
          color: lighten(map-get($theme-colors, "primary-foreground"), 5%);
          padding: 0;
          font-size: 18px;
          margin-bottom: 2rem;
        }
        
        .rc-tree {
              padding-left: 0;
              margin: 0;
              border: 1px solid transparent;

              .node-menu-icon {
                  fill: map-get($global-colors, "gray-mid");
                  cursor: pointer;
                  height: 14px;
                  position: relative;
                  vertical-align: top;
                  width: #{$node-height}px;
                  top: 5.5px;

                  &:hover {
                      fill: lighten(map-get($global-colors, "gray-mid"), 10%);
                  }
              }
              .node-size-label {
                font-size: 12px;
                color: darken(map-get($theme-colors, "primary-foreground"), 15%);
              }

              .level-buttons-container {
                  height: 20px;
                  width: 100%;
                  position: relative;
                  padding-left: 4px;
                  left: 0;

                  .level-buttons {

                      input.level-radio-button {
                          cursor: pointer;
                          -webkit-appearance: none;
                          -moz-appearance: none;
                          appearance: none;
                          /* create custom radiobutton appearance */
                          width: 12px;
                          height: 12px;
                          padding: 5px;
                          /* background-color only for content */
                          background-clip: content-box;
                          border: 2px solid lighten(map-get($theme-colors, "primary-foreground"), 10%);
                          background-color: lighten(map-get($theme-colors, "primary-foreground"), 10%);
                          border-radius: 6px;
                          position: relative;
                          top: 3px;
                          left: 0px;
                          float: left;
                          margin-right: 10px;

                          &:checked, &.checked {
                              background-clip: unset;
                          }
                      }
                  }
              }

              .level-0-treenode > .rc-tree-switcher i svg {
                path {
                  fill: lighten(map-get($theme-colors, "primary-foreground"), 5%);
                }
              }

              &-focused:not(&-active-focused) {
                  border-color: cyan;
              }
              
              .rc-tree-treenode {
                  margin: 0;
                  padding: 0;
                  line-height: #{$node-height - 8}px;
                  white-space: nowrap;
                  list-style: none;
                  outline: 0;

                  .title-button, .title-button-with-input {
                    padding: 0;
                    margin: 0;
                  }

                  .title-button {
                    height: #{$node-height - 8}px;
                    line-height: #{$node-height - 8}px;
                    border: 1px solid transparent;
                    color: lighten(map-get($theme-colors, "primary-foreground"), 5%);
                    background: transparent;
                    background-color: transparent;
                    vertical-align: top;
                    font-size: 14px;
                  }

                  .title-button-with-input {
                    display: block;
                    height: #{$node-height - 6}px;
                    box-sizing: border-box;
                    .title-input {
                      font-size: 14px;
                      height: #{$node-height - 8}px;
                      line-height: #{$node-height - 8}px;
                      width: calc(100% - 60px);
                      margin-right: 10px;
                      background-color: map-get($global-colors, "gray-light");
                      color: map-get($global-colors, "black");
                      border-radius: 4px;
                      outline: none;
                      padding: 4px 0px 4px 4px;
                      border: 1px solid map-get($global-colors, "gray-light");
                      &:focus {
                        border: 1px solid map-get($theme-colors, "primary-foreground-active");
                      }
                    }
    
                    .title-save-button {
                      background-color: map-get($global-colors, "gray-dark");
                      border: 1px solid map-get($global-colors, "gray-dark");
                      color: map-get($global-colors, "gray-light");
                      border-radius: 3px;
                      width: 50px;
                      height: #{$node-height - 8}px;
                      line-height: 20px;
                      font-size: 13px;
                      vertical-align: top;
                      margin: 0;
                      padding: 0;
    
                      &:hover {
                        background-color: lighten(map-get($global-colors, "gray-dark"), 5%);
                        border: 1px solid lighten(map-get($global-colors, "gray-dark"), 5%);
                      }
                    }
                  }

                  .draggable {
                    color: #333;
                    -moz-user-select: none;
                    -khtml-user-select: none;
                    -webkit-user-select: none;
                    user-select: none;
                    /* Required to make elements draggable in old WebKit */
                    -khtml-user-drag: element;
                    -webkit-user-drag: element;
                    border: 2px transparent solid;
                  }
                  &.drag-over {
                    > .draggable {
                      color: white;
                      background-color: #316ac5;
                      border: 2px #316ac5 solid;
                      opacity: 0.8;
                    }
                  }
                  &.drag-over-gap-top {
                    > .draggable {
                      border-top: 2px blue solid;
                    }
                  }
                  &.drag-over-gap-bottom {
                    > .draggable {
                      border-bottom: 2px blue solid;
                    }
                  }
                  &.filter-node {
                    > .rc-tree-node-content-wrapper {
                      color: #a60000 !important;
                      font-weight: bold !important;
                    }
                  }
                  ul {
                    margin: 0;
                    padding-left: 35px;
                  }
                  .rc-tree-node-content-wrapper {
                    width: calc(100% - 20px);
                    display: inline-block;
                    margin: 0;
                    padding: 0;
                    text-decoration: none;
                    vertical-align: top;
                    cursor: pointer;
                    position: relative;
                    & > span {
                      position: relative;
                      width: 100%;
                      display: inline-block;

                      .title-button {
                        position: relative;
                        /* To accomodate the checkbox and node menu button. */
                        max-width: calc(100% - 45px);
                        overflow: hidden;
                        text-overflow: ellipsis;
                      }

                      .node-menu-icon {
                        position: relative;
                        left: 0;
                      }
                    }
                  }
                  span {
                    &.rc-tree-switcher,
                    &.rc-tree-checkbox {
                      display: inline-block;
                      margin-top: 4px;
                      margin-right: 6px;
                      vertical-align: middle;
                      background-color: transparent;
                      
                      background-repeat: no-repeat;
                      background-attachment: scroll;
                      border: 0 none;
                      outline: none;
                      cursor: pointer;
                      
                    }

                    &.rc-tree-switcher {
                        svg {
                          width: 15px;
                          height: 15px;
                        }
                      &.rc-tree-switcher-noop {
                        cursor: auto;
                      }

                      &.rc-tree-switcher_close {
                          -webkit-transform: rotate(-90deg);
                          -ms-transform: rotate(-90deg);
                              transform: rotate(-90deg);
                      }
                    }
                    &.rc-tree-checkbox {
                      width: 13px;
                      height: 13px;
                      margin: 0 3px;
                      border: 2px solid map-get($global-colors, "gray-mid");
                      border-radius: 3px;
                      position: relative;
                      left: 0;
                      margin-right: 10px;
                      &-checked {
                        background-color: map-get($global-colors, "gray-mid");
                      }
                      &-indeterminate {
                        background-position: -14px -28px;
                      }
                      &-disabled {
                        background-position: 0 -56px;
                      }
                      &.rc-tree-checkbox-checked.rc-tree-checkbox-disabled {
                        background-position: -14px -56px;
                      }
                      &.rc-tree-checkbox-indeterminate.rc-tree-checkbox-disabled {
                        position: relative;
                        background: #ccc;
                        border-radius: 3px;
                        &::after {
                          position: absolute;
                          top: 5px;
                          left: 3px;
                          width: 5px;
                          height: 0;
                          border: 2px solid #fff;
                          border-top: 0;
                          border-left: 0;
                          -webkit-transform: scale(1);
                          transform: scale(1);
                          content: ' ';
                        }
                      }
                    }
                  }
                }
                &:not(.rc-tree-show-line) {
                  .rc-tree-treenode {
                    .rc-tree-switcher-noop {
                      background: none;
                    }
                  }
                }
                &.rc-tree-show-line {
                  .rc-tree-treenode:not(:last-child) {
                    > .rc-tree-switcher-noop {
                      background-position: -56px -18px;
                    }
                  }
                  .rc-tree-treenode:last-child {
                    > .rc-tree-switcher-noop {
                      background-position: -56px -36px;
                    }
                  }
                }
                &-child-tree {
                  display: none;
                  &-open {
                    display: block;
                  }
                }
                &-treenode-disabled {
                  > span:not(.rc-tree-switcher),
                  > a,
                  > a span {
                    color: #767676;
                    cursor: not-allowed;
                  }
                }
                &-treenode-active {
                  background: rgba(0, 0, 0, 0.1);
              
                  // .rc-tree-node-content-wrapper {
                  //   background: rgba(0, 0, 0, 0.1);
                  // }
                }
                &-node-selected {
                  background-color: #ffe6b0;
                  border: 1px #ffb951 solid;
                  opacity: 0.8;
                }
                &-icon__open {
                  margin-right: 2px;
                  vertical-align: top;
                  background-position: -110px -16px;
                }
                &-icon__close {
                  margin-right: 2px;
                  vertical-align: top;
                  background-position: -110px 0;
                }
                &-icon__docu {
                  margin-right: 2px;
                  vertical-align: top;
                  background-position: -110px -32px;
                }
                &-icon__customize {
                  margin-right: 2px;
                  vertical-align: top;
                }
                &-indent-unit {
                  display: inline-block;
                  padding-left: 18px;
                }
          }

      
      }
    }

    .vitessce-tooltip {
      .ant-tooltip-content .ant-tooltip-inner {
        font-size: 12px;
        background-color: rgba(0, 0, 0, 0.95);
      }
    }

}