/* Cell Tooltips */
@mixin tooltips($theme-name, $theme-colors) {
  .cell-emphasis-crosshair, .cell-emphasis-vertical {
      z-index: 5;
      position: absolute;
      pointer-events: none;
      background-color: map-get($theme-colors, "secondary-foreground");
  }

  .cell-emphasis-vertical {
      /* offset by the same amount as the container (.card-body) padding */
      transform: translateX(1.25rem);
  }

  .cell-tooltip-wrapper {
      position: relative;
  }

  .cell-tooltip {
      z-index: 1001;
      position: absolute;
      pointer-events: none;
      height: auto;
      width: auto;
      box-sizing: border-box;
      opacity: 0;
      padding: 0.5rem;
      border-radius: 0.25rem;
      border: 1px solid gray;

      animation-name: cell-tooltip;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;

      table > tbody > tr > th, table > tbody > tr > td {
          font-size: 80%;
          opacity: 0.8;
          outline: 0;
          padding: 0 2px;
      }

      table {
          border-collapse: collapse;
      }
  }

  @keyframes cell-tooltip {
      from {
          opacity: 0;
      }
      to {
          opacity: 0.9;
      }
  }
}
