/* Tool styles */
.bg-light {
    background-color: #222!important;
    color: lightgrey;
    a {
        color: #9bb7d6;
    }
}
.bg-black {
    background-color: black;
    color: lightgrey;
}
.title {
    color: lightgrey;
}
.scroll {
    overflow-y: auto;
}
.details {
    font-size: 80%;
    opacity: 0.8;
}

