/* Spatial and t-SNE controls */
@mixin controls {
  .btn.icon {
      padding: 0;
      height: 2em;
      width: 2em;
      background-color: white;
      > svg {
          vertical-align: middle;
      }
  }
  .roll-up {
      height: 2em; /* Matches .btn.icon */
      overflow: hidden;
      &:hover {
          animation-name: roll-up;
          animation-duration: 0.5s;
          animation-fill-mode: forwards;
      }
  }
  @keyframes roll-up {
      0% { height: 2em; }
      100% { height: 100%; }
  }
  .tool {
      z-index: 1000;
      opacity: .65;
      color: black;
      &:hover {
          opacity: .90;
      }
  }
}
