html,body {
  height: 100%;
}

.btn.icon {
  padding: 0.2em;
  height: 2em;
  width: 2em;
  background-color: white;
}

.on-top {
  z-index: 1000;
}

.pixelated {
  /* https://stackoverflow.com/questions/7615009/disable-interpolation-when-scaling-a-canvas */
  image-rendering: pixelated; /* Chrome */
  image-rendering: -moz-crisp-edges; /* FF */
 }

 .bg-black {
   background-color: black;
 }
