html,body {
  height: 100%;
}

body {
  background-color: #333;
}
.bg-light {
  background-color: lightgrey!important;
}
.title {
  color: lightgrey;
}

.btn.icon {
  padding: 0.2em;
  height: 2em;
  width: 2em;
  background-color: white;
}

.roll-up {
  height: 2em; /* Matches .btn.icon */
  overflow: hidden;
}
.roll-up:hover {
  animation-name: roll-up;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes roll-up {
  0% { height: 2em; }
  100% { height: 100%; }
}

.on-top {
  z-index: 1000;
}

.pixelated {
  /* https://stackoverflow.com/questions/7615009/disable-interpolation-when-scaling-a-canvas */
  image-rendering: pixelated; /* Chrome */
  image-rendering: -moz-crisp-edges; /* FF */
 }

 .bg-black {
   background-color: black;
 }

 .scroll {
   overflow: scroll;
 }
