@import 'colors';

/*
  Some styles here (for .rc-tree and descendants) have been adapted from the ant-design tree styles:
  https://github.com/ant-design/ant-design/blob/34c2fad6368cce0d3e1959613d092274f567582a/components/tree/style/index.less
 */
@mixin sets-manager($theme-name, $theme-colors) {

      
      .sets-manager-tree {

        
        .rc-tree {


                &-node-selected {
                  background-color: #ffe6b0;
                  border: 1px #ffb951 solid;
                  opacity: 0.8;
                }
                &-icon__open {
                  margin-right: 2px;
                  vertical-align: top;
                  background-position: -110px -16px;
                }
                &-icon__close {
                  margin-right: 2px;
                  vertical-align: top;
                  background-position: -110px 0;
                }
                &-icon__docu {
                  margin-right: 2px;
                  vertical-align: top;
                  background-position: -110px -32px;
                }
                &-icon__customize {
                  margin-right: 2px;
                  vertical-align: top;
                }
                &-indent-unit {
                  display: inline-block;
                  padding-left: 18px;
                }
          }

      
      }
    }

    .vitessce-tooltip {
      .ant-tooltip-content .ant-tooltip-inner {
        font-size: 12px;
        background-color: rgba(0, 0, 0, 0.95);
      }
    }

}