@import 'colors';

@mixin app($theme-name, $theme-colors) {

    .warning-layout {
        background-color: map-get($theme-colors, "grid-layout-background");
        height: auto;
        position: absolute;
        width: 100%;
    }

    .warning-layout {
        height: 100vh;
        .card {
            margin-left: 0.5rem;
        }
    }


    /* Fix grid title rendering on Safari 12.0.
        Inspired by https://stackoverflow.com/questions/32689686/overlapping-css-flexbox-items-in-safari */
    .d-flex {
        flex-shrink: 0;
    }

    /* Tool styles */

    .details {
        font-size: 80%;
        opacity: 0.8;
    }


    .coll-full, .welcome-col-left, .welcome-col-right {
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }

    .col-full {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .welcome-col-left {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;

        .list-group-item {
            background-color: map-get($theme-colors, "primary-background-highlight");
        }

        .input-group input {
            background-color: map-get($theme-colors, "primary-background-input");
        }
        a {
            color: #ffffff;
        }
    }
  

    .welcome-col-right {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        .info-paragraph {
            margin-bottom: 0 !important;
        }
        .info-section-text {
            margin-top: 0.5rem
        }
        a {
            color: #ffffff;
        }
    }
  
}
