# Reference: https://github.com/pmndrs/zustand/blob/1808bf4d3dce944d054fa0cb9a605bd6d8e96d8d/.github/workflows/compressed-size-action.yml
name: Bundle size

on: [ pull_request ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - uses: pnpm/action-setup@v2.0.1
        name: Install pnpm
        id: pnpm-install
        with:
          version: 7
          run_install: true
      - id: get-options
        run: . ./set-node-options.sh --action
        shell: bash
      - uses: preactjs/compressed-size-action@v2
        with:
          compression: "none"
          build-script: "build:ci"
          clean-script: "clean"
          pattern: "./packages/main/prod/dist/**/*"
          strip-hash: "\\-(\\w{8})\\.js$"
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
        env:
          NODE_OPTIONS: ${{ steps.get-options.outputs.node-options }}
