# Adapted from https://github.com/vega/vega/blob/4b945e22905c610ccc2bdd28471a6f1f80aa1636/.github/workflows/test.yml
name: Test
on:
  push:
    branches:
    - main
  pull_request:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    
    strategy:
      fail-fast: false
      matrix:
        node: [16, 18]
        os: [ubuntu-20.04]
        include:
          - os: windows-2022
            node: 16
    
    name: Test on ${{ matrix.os }} with Node ${{ matrix.node }}
    
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
      - id: get-options
        run: . ./set-node-options.sh --action
      - run: CYPRESS_INSTALL_BINARY=0 npm ci --legacy-peer-deps
      - run: ./test.sh
        env:
          NODE_OPTIONS: ${{ steps.get-options.outputs.node-options }}
  cypress-run:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - uses: cypress-io/github-action@v2
        with:
          install-command: npm ci --legacy-peer-deps
          start: npm start, npm run start:fixtures
          wait-on: 'http://localhost:3000'
          wait-on-timeout: 120
          browser: chrome
          headless: true