@import '../../css/colors';
@import './zoom';

$set-name-height: 16px;

@mixin input-minimal-sm {
    border-radius: 3px;
    padding: 1px 4px;
    border: 0;
}
  
.sets-manager {

    .ant-tree {
        color: inherit;

        .ant-tree-title {
            border: 0;
            background: transparent;
            color: $color-white;
            cursor: pointer;
        }

        .ant-tree-current-set-input, .ant-tree-title-input {
            @include input-minimal-sm();
        }
        .ant-tree-title-save-button {
            @include input-minimal-sm();
            cursor: pointer;
            margin-left: 4px;
        }
      
        .ant-tree-showhide {
            padding: 4px 4px;
            vertical-align: middle;
            height: 24px;
            cursor: pointer;
        }

        &.ant-tree-block-node li .ant-tree-node-content-wrapper {
            width: calc(100% - 64px);

            .ant-tree-title-right {
                float: right;

                .ant-tree-set-color {
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    margin-left: 16px;
                    cursor: pointer;
                    outline: currentcolor none medium;
                    border-radius: 3px;
                    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
                }

                .ant-tree-set-size {
                    display: inline-block;
                }
            }
        }

        li .ant-tree-node-content-wrapper {
            color: inherit;
            &:hover {
                background-color: inherit;
            }
            &.ant-tree-node-selected {
                background-color: inherit;
            }
        }
    }
    .ant-tabs {
        color: inherit;

        .ant-tabs-bar {
            z-index: 1;
            padding-top: 1.25rem;
            margin-top: -1.25rem;
            border-bottom: 1px solid $color-gray-mid;
            background-color: #222;
            width: calc(100% - 3.75rem);
            position: fixed;
        }

        .ant-tabs-content {
            margin-top: 40px;
        }

        .ant-tabs-nav .ant-tabs-tab-active {
            font-weight: inherit;
        }

        &.ant-tabs-card .ant-tabs-card-bar {

            .ant-tabs-nav-container {
                height: 28px;
            }

            .ant-tabs-tab {
                background-color: $color-gray-mid;
                border: 1px solid $color-gray-mid;
                height: 28px;
                line-height: 26px;
                padding: 0 6px;
                &.ant-tabs-tab-active {
                    background-color: $color-gray-dark;
                    border: 1px solid $color-gray-mid;
                }
            }
        }
    }
    .sets-manager-more-icon {
        cursor: pointer;
        right: 10px;
        position: absolute;
        top: 10px;
    }
    .sets-manager-icon-bar {
        cursor: pointer;
        right: 36px;
        position: fixed;
        top: 46px;
        z-index: 2;
        i {
            border-radius: 4px;
            padding: 3px 2px 0 2px;
            margin-left: 10px;
            &:hover {
                background-color: #444;
                transition: background-color 0.5s;
            }
        }
    }
}
.ant-popover .ant-popover-inner-content {
    padding: 0;
}
.sets-manager-menu {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;

    li {
        padding: 4px 16px;
        cursor: pointer;
        &:not(:last-child) {
            border-bottom: 1px solid $color-gray;
        }
    }
}
.named-set-node-menu {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;

    li {
        button {
            border: 0;
            padding: 4px 16px;
            cursor: pointer;
            width: 100%;
            background-color: transparent;
        }
        &:not(:last-child) {
            border-bottom: 1px solid $color-gray;
        }
    }
}
.named-set-node-menu-trigger {
    font-size: 16px;
    margin-left: 10px;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
}

.named-set-node-menu-container {
    transition: opacity 0.25s;
}