/* 
 * Global color mapping.
 * Sass map docs: https://sass-lang.com/documentation/modules/map
 */
$global-colors: (
  'white': #ffffff,
  'gray-light': #d3d3d3,
  'gray-mid': #808080,
  'gray-dark': #555555,
  'black': #000000,
);

/* 
 * Theme color mappings.
 */

$colors-dark: (
  'grid-layout-background': #333333,
  'card-border': rgba(0, 0, 0, 0.125),
  'primary-background': #222222,
  'primary-background-highlight': #000000,
  'primary-background-input': #d3d3d3,
  'primary-background-dim': #333333,
  'primary-foreground': #d3d3d3,
  'primary-foreground-dim': #000000,
  'primary-foreground-active': #9bb7d6,
  'secondary-background': #000000,
  'secondary-background-dim': #444444,
  'secondary-foreground': #d3d3d3,
);

$colors-light: (
  'grid-layout-background': #ffffff,
  'card-border': rgba(241, 241, 241, 0.125),
  'primary-background': #f1f1f1,
  'primary-background-highlight': #ffffff,
  'primary-background-input': #ffffff,
  'primary-background-dim': #8a8a8a,
  'primary-foreground': #333333,
  'primary-foreground-dim': #808080,
  'primary-foreground-active': #0074d9,
  'secondary-background': #f1f1f1,
  'secondary-background-dim': #c0c0c0,
  'secondary-foreground': #222222,
);
